# Node dependencies
backend/node_modules/
frontend/node_modules/
backend/uploads/
**/.env
!**/.env.example

# Build outputs
backend/dist/
frontend/dist/

# Business Central artifacts

*.log
yarn-debug.log*
pnpm-debug.log*
# OS/editor artifacts
Thumbs.db
.idea/
### AL ###
#Template for AL projects for Dynamics 365 Business Central
.vscode/
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
